.search{
  width: 95%;
  height: 40px;
  border: 1px solid black;
  margin: 0 auto;
  border-radius: 20px;
  margin-top: 10px;
}
.searchBox input{
  width: 95%;
  height: 40px;
  //border: 1px solid blue;
  //margin-top: 10px;
  padding-left: 30px;
  font-size: 14px;
  line-height: 40px;
  outline: none;
}
//.searchBox input:
.show img{
  width: 90px;
  height: 120px;
  margin: 10px;
}
.ido img{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 45px;
}
.clearFloat{
  zoom: 1;
}
.clearFloat:after{
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.right{
  //border: 1px solid black;
  width: 250px;
  height: 120px;
  float: right;
  padding-top: 10px;
  position: relative;
}
.show li{
  border-bottom: 1px solid #9d9d9d;
  padding-top: 10px;

}
.right .book-name{
  font-size: 18px;
  color: #3366CC;
  padding: 10px 0px;
}
.right .book-price{
  font-size: 23px;
  color: #CC6633;
  padding: 10px 0px;
  font-weight: bold;
}

