.pic{
  width: 90px;
  height: 120px;
  margin: 10px;
}
.ido img{
  width: 20px;
  height: 20px;
  position: absolute;
  right: 5px;
  top: 45px;
}
.clearFloat{
  zoom: 1;
}
.clearFloat:after{
  content: "";
  display: block;
  visibility: hidden;
  height: 0;
  clear: both;
}
.right{
  //border: 1px solid black;
  width: 250px;
  height: 120px;
  float: right;
  padding-top: 10px;
  position: relative;
}
.show li{
  border-bottom: 1px solid #9d9d9d;
  padding-top: 10px;

}
.list{
  padding-top: 30px;
}
.right .book-name{
  font-size: 18px;
  color: #3366CC;
  padding: 10px 0px;
}
.right .book-price{
  font-size: 23px;
  color: #CC6633;
  padding: 10px 0px;
  font-weight: bold;
}
.button{
  width: 95%;
  height: 50px;
  background-color: #f10215;
  border-radius: 7px;
  margin: 10px auto;
  text-align: center;
}
.button p{
  width: 360px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  color: white;
}
.dele{
  width: 60px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 60px;
}
.dele .del{
  display: inline-block;
  font-size: 18px;
  color: #4D6CB0;
}
.dele .del:hover{
  cursor: pointer;
}
.out .list .right{
  width: 230px;
  height: 120px;
}
.out .list li{
  border-bottom: 1px solid #9d9d9d;
  position: relative;
}
.checkbox{
  position: absolute;
  top: 70px;
  left: 0px;
}
.out .list img{
  padding-left: 30px;
  padding-top: 10px;
}
.edit{
  width: 150px;
  height: 30px;
  position: absolute;
  right: 0px;
  top: 60px;
}
.edit .cancel,.check{
  display: inline-block;
  font-size: 16px;
  color: #4D6CB0;
}
.edit .cancel,.check:hover{
  cursor: pointer;
}
.edit .check{
  padding-left: 20px;
  color: #FF6835;
}
.out .list .no{
  width: 30px;
  height: 30px;
  position: absolute;
  background: url("../../../static/no.png") no-repeat;
  background-size: cover;

}
.out .list .yes{
  width: 30px;
  height: 30px;
  position: absolute;
  background: url("../../../static/yes.png") no-repeat;
  background-size: cover;
}
.no,.yes{
  display: inline-block;
}
.parent{
  position: relative;
  width: 30px;
  height: 30px;
  top: 90px;
}
.pahment{
  background: #F2F2F2;
  width: 93%;
  height: auto;
  margin: 0px auto;
}
.pahment h5{
  font-size: 18px;
  padding-left: 10px;
}
.pahment h3{
  margin: 10px;
  color: #6B6B6B;
  font-size: 18px;
}
.ok-info,.choess-list{

  width: inherit;
  height: auto;
  border: 1px solid #9d9d9d;
}
.ok-info ul li{

  background: white;
  //margin: 10px 0px;
  border-bottom: 1px solid #9d9d9d;
}
.ok-info ul li p{
  margin: 10px;
}
.ok-info h3{
  color: black;
}
.choess-list ul li{
  background: white;

  display: flex;
  //margin: 10px 0px;
  border-bottom: 1px solid #9d9d9d;
}
.choess-list ul li p{
  margin: 10px;
}
.change-address{
  position: relative;
}
.change-address h3,img{
  display: inline-block;
}
.ok-info ul li p{
  color: #9d9d9d;
}

.ok-info ul li img{
  width: 20px;
  height: 20px;
  position: absolute;
  left: 300px;
  top: 10px;
}
.ok-info ul li span{
  color: black;
}
.choess-list img{
  padding-left: 10px;
  width: 30px;
  height: 30px;
  padding-top: 8px;

}
.choess-list p{
  padding-left: 10px;
  font-size: 18px;

}





.added{
  width: 95%;
  height: 50px;
  background-color: #f10215;
  border-radius: 7px;
  margin: 10px auto;
  text-align: center;
}
.added p{
  width: 360px;
  height: 50px;
  font-size: 18px;
  font-weight: bold;
  line-height: 50px;
  color: white;
}

.revise ul{
  width: 95%;
  height: auto;
  margin: 20px auto;
  background: white;
}
.revise ul li{

}
.revise input{
  outline: none;
  width: 200px;
}
.revise ul li p{
  margin: 10px;
  font-size: 16px;
}
.revise ul li select{
  margin: 0px 10px;
  padding-left: 10px;
  width: 80px;
  height: 40px;
  border: 1px solid #9d9d9d;
  outline: none;
  font-size: 15px;
}

