@charset "UTF-8";
@white-color:#ffffff;

@font-face {
  font-family: 'iconfont';  /* project id 417784 */
  src: url('//at.alicdn.com/t/font_417784_uzwgwhqattltbj4i.eot');
  src: url('//at.alicdn.com/t/font_417784_uzwgwhqattltbj4i.eot?#iefix') format('embedded-opentype'),
  url('//at.alicdn.com/t/font_417784_uzwgwhqattltbj4i.woff') format('woff'),
  url('//at.alicdn.com/t/font_417784_uzwgwhqattltbj4i.ttf') format('truetype'),
  url('//at.alicdn.com/t/font_417784_uzwgwhqattltbj4i.svg#iconfont') format('svg');
}
.iconfont{
  font-family: iconfont;
  font-style: normal;
}
body{
  background: #f7f7f7;
}
body,html,ul,h3{
  font-size: 14px;
  height: 100%;
  margin: 0;
  padding: 0;
}
p{
  margin: 0;
  padding: 0;
}

ul, li {
  list-style: none;
}

#app {

  height: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: space-between;
  header{
    background: rgb(60, 60, 60);
    height: 2.2rem;
    box-sizing: border-box;
    color: @white-color;
    h3{
      text-align: center;
      line-height: 2.2rem;
      font-size:0.8rem;
    }
  }
  main {
    height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    box-sizing: border-box;
  }
  nav {
    background: @white-color;
    height: 2.2rem;
    ul {
      display: flex;
      align-items: center;
      justify-content: center;
      border-top: 1px solid #f7f7f7;
      box-sizing: border-box;
      li {
        i{
          font-size: 1rem;
        }
        &.router-link-active{
          color: red;
        }
        text-align: center;
        flex: 1;
        list-style: none;
        cursor: pointer;
        font-size:0.6rem;
        color: #555555;
      }
    }
  }

  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

