
.home {
  .news {
    border-radius: 1.7rem;
    width: 94%;
    margin: 0.1rem auto 0;
    overflow: hidden;
    height: 1.4rem;
    font-size: 0.6rem;
    box-sizing: border-box;
    padding: 0 10px;
    background: #ffffff;
    display: flex;
    align-items: center;
    div {
      width: calc(~'100% - 20px');
      height: 100%;
      box-sizing: border-box;
      padding-left: 10px;
      p {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        line-height: 1.4rem;
      }
    }
    span {
      line-height: 20px;
      font-size:1rem;
      color: orange;
      width: 20px;
      height: 20px;
    }
  }
}
