
.pahment{
  position: fixed;
  height: 100%;
  width: 100%;
  background: #F2F2F2;
  z-index: 999;
  top: 0;
  left: 0;
  header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 16px;
    span{
      font-size:0.8rem;
    }
    h3{
      font-size:0.8rem;
    }
  }
  .pay-box{
    height: calc(~'100% - 2rem - 1px');;
    overflow-y: scroll;

    .ok{
      h3{
        margin: 10px;
        font-size: 0.7rem;
        color: #9d9d9d;
      }
      .ok-info{
        width: 95%;
        height: auto;
        margin: 0 auto;
        ul{
          background-color:white;
          padding: 0 14px ;
          box-sizing: border-box;
          li{

            color: #333;

            &:last-child{
              border-bottom: none;
            }
            position: relative;

            border-bottom: 1px solid #e2e2e2;
            h5{
              padding: 10px 0 0 0;
              font-size: 0.7rem;
            }
            p,h4{
              color: #333333;
              margin: 10px 0px;
              font-size:0.6rem;
            }
            &.change-address{
              display: flex;
              justify-content: space-between;
              align-items: center;
              img{
                width: 0.6rem;
                height: 0.6rem;
              }
            }

          }
        }

      }

    }
    .choess{
      padding-bottom: 20px;
      h3{
        margin: 10px;
        font-size: 0.7rem;
        color: #9d9d9d;
      }
      .choess-list{
        width: 95%;
        margin: 0 auto;
        ul{
          padding: 0 14px ;
          box-sizing: border-box;
          background-color:white;
          li{
            &:last-child{
              border: none;
            }
            height: 2rem;
            display: flex;
            justify-content: space-between;
            align-items: center;
            border-bottom: 1px solid #e2e2e2;
            & > div{
              display: flex;
              align-items: center;
            }
            p{
              padding-left: 10px;
              font-size:0.6rem;
            }
            img{
              &:last-child{
                width: 0.6rem;
                height: 0.6rem;
                align-items: flex-end;
              }
              &:first-child{
                width: 1.2rem;
                height: 1.2rem;
              }
            }
          }
        }
      }
    }
    //.revise{
    //  width: 95%;
    //  height: auto;
    //  margin: 0 auto;
    //  ul {
    //    border: 1px solid #9d9d9d;
    //    background-color: white;
    //    li {
    //      position: relative;
    //      padding-left: 10px;
    //      border-bottom: 1px solid #9d9d9d;
    //      p {
    //        font-size: 16px;
    //        margin: 10px 0px;
    //        display: inline-block;
    //        padding-left: 10px;
    //        input{
    //          width: 200px;
    //        }
    //      }
    //      form{
    //        select{
    //          width: 80px;
    //          height: 40px;
    //          border: 1px solid #9d9d9d;
    //          outline: none;
    //          font-size: 16px;
    //        }
    //      }
    //    }
    //  }
    //  .added{
    //    button{
    //      margin-top: 10px;
    //      width: 100%;
    //      height: 50px;
    //      background-color: red;
    //      text-align: center;
    //      line-height: 50px;
    //      color: whitesmoke;
    //      font-size: 16px;
    //      font-weight: bold;
    //      border-radius: 5px;
    //    }
    //  }
    //}
  }
}

